<h1>Fuel Stations</h1>

<div class="container">
<% @fuel_stations.each do |station| %>
  <div class="station">
    Name: <%= station["station_name"] %>,
    Address: <%= station["street_address"] %>,
    Fuel Type: <%= station["fuel_type_code"] %>,
    Access Times: <%= station["access_days_times"] %>,
    Distance: <%= station["distance"] %>
  </div>
<% end %>
</div>
